
//  General Typo graphy setup 

h1 {

	font-size: 32px;
}

h2 {

	font-size:26px;
}

h3 {

	font-size:22px;
}

h4 {

	font-size:20px;
}

h5 {

	font-size:18px;
}

h6 {

	font-size:17px;
}

// line-height 

h1,h2,h3,h4,h5,h6, .h1,.h2,.h3,.h4,.h5,.h6  {


	line-height:$default_line_height_for_headings;
	font-family: $primary_font;
	font-weight: $default_font_weight_for_heading;
}


// Paragraph font size 

p {

	font-size:$default_font_size_body;
}

