
/*
*******************************************************************
*
**  Spc options styles
*
********************************************************************
*/

    .spc_options {
        position: fixed;
        display: block;
        z-index: 9999;
        padding: 30px 20px;
        width: 220px;
        margin-top: -150px;
        right: -220px;
        text-align: left;
        top: 50%;
        margin-top: -210px;
        background: $white;
        -webkit-box-shadow: 0px 0px 5px 0px rgba(20, 20, 20, 0.2);
        -moz-box-shadow: 0px 0px 5px 0px rgba(20, 20, 20, 0.2);
        box-shadow: 0px 0px 5px 0px rgba(20, 20, 20, 0.2);
    }

    .spc_options .icon {
        width: 22px;
        height: 22px;
        background: $secondary_color;
        border-radius: 0px;
        top: 50%;
        line-height: 22px;
        cursor: pinter;
        font-size: 15px;
        position: absolute;
        left: -50px;
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 25px;
        border-radius: 5px 0 0 5px;
        text-align: center;
        color: $white;
        top: 0;
    }

    .spc_options .icon i {
        cursor: pointer;
    }

    .spc_options h4 {
        display: block;
        font-size: 14px;
        margin-bottom: 10px;
    }

    .spc_options ul li {
        font-weight: 500;
        font-size: 14px;
        margin-bottom: 5px;
    }

    .spc_options ul li a {
        color: $primary_color;
    }

    .spc_options span {
        width: 40px;
        height: 35px;
        border-radius: 0;
        cursor: pointer;
        float: left;
        margin: 2px;
    }

    .spc_options .select-layout a {
        border: 1px solid $secondary_color;
        text-align: center;
        padding: 5px 0;
        outline: none;
        display: inline-block;
        padding: 5px 10px;
        color: $primary_color;
        cursor: pointer;
    }

    .spc_options .single-option {
        margin-bottom: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid #eee;
        outline: none;
    }

    .spc_options .single-option:last-child {
        margin: 0;
        padding: 0;
        border: none;
    }

    .spc_options .single-option .bg-pattern li {
        display: inline-block;
    }

    .spc_options .single-option .bg-pattern li img {
        width: 40px;
        height: 35px;
    }

    .spc_options span.color1 {
        background-color: #F8C12C
    }

    .spc_options span.color2 {
        background-color: #29B6F6
    }

    .spc_options span.color3 {
        background-color: #c456c6;
    }

    .spc_options span.color4 {
        background-color: #F44336;
    }

    .spc_options span.color5 {
        background-color: #b40000;
    }

    .spc_options span.color6 {
        background-color: #43A047;
    }

    .spc_options span.color7 {
        background-color: #FF9800;
    }

    .spc_options span.color8 {
        background-color: #E91E63;
    }

    .boxed_layout {
        position: relative;
        max-width: 1240px;
        background: $white;
        margin: 0 auto;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
        -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    }

    .modal {

        top: 20px;

        .modal-content button {

            outline: none;
        }
    }

    section {

        background: $white;
    }

    .section_bg {

        background: $section_bg;
    }

    .section_inner {

        padding: 80px 0;
        text-align: center;

        .section_title {

            padding-bottom: 40px;
        }

        .section_title h2 {

            position: relative;
            text-transform: uppercase;
            padding-bottom: 20px;


            span {

                font-weight: 800;
                color: $secondary_color;
            }
        }


        .section_title h2:after {

            content: '';
            border-bottom: 3px solid $secondary_color;
            position: absolute;
            bottom: 0;
            display: block;
            left: 0;
            right: 0;
            width: 50px;
            margin: 0 auto;
        }

        .section_desc {

            padding-bottom: 40px;
        }
    }

/*
*******************************************************************
*
**  Body ( Box layout Styles )
*
********************************************************************
*/

body.boxed_layout {

    max-width:1240px;
    background:$white;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0px 0px 15px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 15px rgba(0,0,0,0.15);
}




/*
*******************************************************************
*
**  Header section
*
********************************************************************
*/

    header.spc_general_header {

        position: relative;
    }

    .spc_general_header .header_mask {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        background-color: rgba(17, 17, 17, 0.7);
        z-index: 999;
    }

    .spc_general_header .header_top_inner {

        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(238, 238, 238, 0.1);
    }

    .spc_general_header .header_social ul.social_icons_list li,
    #footer #footer-widgets .widget_socials ul li {

        display: inline-block;
    }

    .spc_general_header .header_social ul.social_icons_list li a {

        font-size: 0;
    }

    .spc_general_header .header_social ul.social_icons_list li a[href*=".com"]::before {

        font-family: 'FontAwesome';
        font-size: 14px;
        color: $white;
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease
    }

    .spc_general_header .header_social ul.social_icons_list li a[href*="facebook.com"]::before {

        content: "\f09a";
    }

    .spc_general_header .header_social ul.social_icons_list li a[href*="twitter.com"]::before {

        content: "\f099";
    }


    .spc_general_header .header_social ul.social_icons_list li a[href*="google.com"]::before {

        content: "\f0d5";
    }


    .spc_general_header .header_social ul.social_icons_list li a[href*="linkedin.com"]::before {

        content: "\f0e1";
    }


    .spc_general_header .header_social ul.social_icons_list li a[href*="instagram.com"]::before {

        content: "\f16d";
    }


    .spc_general_header .header_social ul.social_icons_list li a[href*="reddit.com"]::before {

        content: "\f281";
    }


    .spc_general_header .header_social ul.social_icons_list li a[href*="snapchat.com"]::before {

        content: "\f2ac";
    }


    .spc_general_header .header_social ul.social_icons_list li a[href*="quora.com"]::before {

        content: "\f2c4";
    }


    .spc_general_header .header_social ul.social_icons_list li a[href*="vk.com"]::before {

        content: "\f189";
    }


    .spc_general_header .header_social ul.social_icons_list li a[href*="medium.com"]::before {

        content: "\f23a";
    }

    .spc_general_header .header_social ul.social_icons_list li a[href*="pinterest.com"]::before {

        content: "\f0d2";
    }

    .spc_general_header .header_social ul.social_icons_list li a[href*="youtube.com"]::before {

        content: "\f16a";
    }

    .spc_general_header .header_social ul.social_icons_list li a[href*="vimeo.com"]::before {

        content: "\f27d";
    }

    .spc_general_header .header_social ul.social_icons_list li a[href*="vine.com"]::before {

        content: "\f1ca";
    }

    .spc_general_header .header_social ul.social_icons_list li a[href*="whatsapp.com"]::before {

        content: "\f232";
    }

    .spc_general_header .header_social ul.social_icons_list li a,
    #footer #footer-widgets .widget_socials ul li a {
        position: relative;
        display: inline-block;
        padding-right: 10px;

        i {

            color: $white;
            -webkit-transition: all 0.7s ease;
            transition: all 0.7s ease;
        }
    }

    .spc_general_header .header_social ul.social_icons_list li a:hover,
    #footer #footer-widgets .widget_socials ul li a:hover {

        i {

            color: $secondary_color;
        }
    }





    .spc_general_header .header_social ul.social_icons_list li:last-child a,
    #footer #footer-widgets .widget_socials ul li:last-child a {

        padding-right: 0;
    }

    .spc_general_header ul.company_extraa_info {

        text-align: right;
    }

    .spc_general_header ul.company_extraa_info li {

        display: inline-block;
        position: relative;
        padding-right: 30px;
    }

    .spc_general_header ul.company_extraa_info li span {

        color: $white;
    }

    .spc_general_header ul.company_extraa_info li:last-child {

        padding-right: 0;
    }

    .spc_general_header ul.company_extraa_info li .contact_number::before {

        content: '\f095';
        font-family: 'FontAwesome';
        padding-right: 10px;
    }

    .spc_general_header ul.company_extraa_info li .email_address::before {

        content: '\f2b6';
        font-family: 'FontAwesome';
        padding-right: 10px;
    }


    .spc_general_header ul.company_extraa_info li .opening_timing::before {

        content: '\f017';
        font-family: 'FontAwesome';
        padding-right: 10px;
    }

    .spc_header_nav_and_logo_holder {

        padding: 15px 0;

        h1.site-title {
            
            font-weight: 900;
            padding-bottom: 5px;

            a {

                color: $white;
            }

            a:hover {

                color: $white;
            }
        }

        h5.site-description {

            color: $white;
            font-size: 12px;
            font-weight: 400;
        }
    }

    .searchbox form#search-form {

        padding: 50px;
    }

    .primarynav_search_icon {

        a {

            outline: none;
            background: none;
        }
    }

    .searchbox form#search-form input {

        padding-left: 20px;
    }

    .searchbox form#search-form button {

        outline: none;
        border: none;
        background: none;

        .fa {

            color: $secondary_color;
        }
    }

    .searchbox form#search-form .input-group-addon {

        background: $primary_color;
        border: none;
        color: inherit;
        ;
    }

    .searchbox .modal button.close {

        margin: 10px;
    }

    header .primary_navigation .menu_close_btn,
    header .primary_navigation .menu_close_btn a,
    header .primary_navigation .menu_close_btn a .fa {

        display: none !important;
    }
    /*
*******************************************************************
*
**  Banner section
*
********************************************************************
*/

    .spc_banner .spc_banner_inner {

        // padding-bottom: 80px;
    }

    .spc_banner .home_page_slider {

        border: none;
        margin: 0;
        background: $white;
        position: relative;
    }

    .spc_banner .home_page_slider .owl-stage {

        width: 100%;
        min-width: 100%;
        padding: 0;
        margin: 0;
    }

    .spc_banner .home_page_slider .item {

        position: relative;
    }

    .spc_banner .home_page_slider .owl-item.active {

        .slider_caption {

            animation: 1s .4s fadeInUp both;
        }
    }

    .spc_banner .home_page_slider .slider_caption {


        position: absolute;
        top: 40%;
        left: 5%;
        right: 5%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        text-align: center;
        z-index: 2;
    }

    .spc_banner .home_page_slider .slider_caption h2 {

        text-transform: uppercase;
        font-size: 72px;
        color: $white;
        font-weight: 500;
        -webkit-transition: all 0.7s ease;
        transition: all 0.7s ease;

        span {

            font-weight: 700;
            letter-spacing: 5px;
            color: $secondary_color;
        }
    }

    .spc_banner .home_page_slider .slider_caption p {

        color: $white;
        padding: 0 10%;
    }

    .spc_banner .home_page_slider .slider_caption a {

        background: none;
        font-weight: 500;
        padding: 10px 20px;
        border: 2px solid $secondary_color;
        margin: 20px 0;
    }

    .spc_banner .home_page_slider .slider_caption a:hover {

        border: 2px solid $secondary_color;
        background: $secondary_color;
        color: $white;
    }

    .spc_banner .home_page_slider .owl-nav .owl-prev,
    .spc_banner .home_page_slider .owl-nav .owl-next,
    .spc_our_team .section_content .team_carousel .owl-nav .owl-prev,
    .spc_our_team .section_content .team_carousel .owl-nav .owl-next,
    .spc_testinomial .testinomial_carousel .owl-nav .owl-next,
    .spc_testinomial .testinomial_carousel .owl-nav .owl-prev {

        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 35px;
        height: 35px;
        border-radius: 5px;
        background: $white;
        outline: none;
        cursor: pointer;
        opacity: 0.3;
        -webkit-transition: all 0.7s ease;
        transition: all 0.7s ease;
    }

    .spc_banner .home_page_slider .owl-nav .owl-prev {

        left: 5px;
    }

    .spc_banner .home_page_slider .owl-nav .owl-next {

        right: 5px;
    }

    .spc_banner .home_page_slider .owl-nav .owl-prev:hover,
    .spc_banner .home_page_slider .owl-nav .owl-next:hover {

        opacity: 1;
    }
    /*
*******************************************************************
*
** Section Our service styles
*
********************************************************************
*/

    section.spc_general_section .section_content .itemgrid_block .featured_image,
    aside.project_sidebar .widget_wrapper .widget_contents_holder .widget_col_box .box_fimage,
    .spc_archive_layout_one_main_wrapper .single_content_area_outer .section_content .itemgrid_block .featured_image,
    .spc_search_page_layout_main_wrapper .single_content_area_outer .section_content .post_fimage,
    .spc_our_blog_release_layout_two .section_content .blog_layout_two_item .post_fimage {

        position: relative;
        overflow: hidden;
    }

    section.spc_general_section .section_content .itemgrid_block .featured_image img,
    aside.project_sidebar .widget_wrapper .widget_contents_holder .widget_col_box .box_fimage img,
    .spc_archive_layout_one_main_wrapper .single_content_area_outer .section_content .itemgrid_block .featured_image img,
    .spc_search_page_layout_main_wrapper .single_content_area_outer .section_content .post_fimage img,
    .spc_our_blog_release_layout_two .section_content .blog_layout_two_item .post_fimage img {

        -webkit-transition-duration: 0.9s;
        -o-transition-duration: 0.9s;
        transition-duration: 0.9s;
    }

    section.spc_general_section .section_content .itemgrid_block .featured_image:hover img,
    aside.project_sidebar .widget_wrapper .widget_contents_holder .widget_col_box .box_fimage:hover img,
    .spc_archive_layout_one_main_wrapper .single_content_area_outer .section_content .itemgrid_block .featured_image:hover img,
    .spc_search_page_layout_main_wrapper .single_content_area_outer .section_content .post_fimage:hover img,
    .spc_our_blog_release_layout_two .section_content .blog_layout_two_item .post_fimage:hover img {

        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }


    section.spc_general_section .ourservice_block.itemgrid_block {
        margin-bottom: 30px;
    }

    section.spc_general_section .content_holder,
    .spc_archive_layout_one_main_wrapper .single_content_area_outer .section_content .itemgrid_block .content_holder {

        padding: 30px 20px;
    }

    section.spc_general_section .content_holder .service_title,
    .spc_archive_layout_one_main_wrapper .single_content_area_outer .section_content .itemgrid_block .content_holder .service_title {

        text-transform: uppercase;
        padding-bottom: 20px;
    }

    section.spc_general_section .content_holder .service_title h3,
    .spc_archive_layout_one_main_wrapper .single_content_area_outer .section_content .itemgrid_block .content_holder .service_title h3,
    .spc_our_blog_release_layout_two .section_content .blog_layout_two_item .the_title h3 {

        position: relative;
        padding-bottom: 20px;
    }


    section.spc_general_section .content_holder .service_title h3:after,
    .spc_archive_layout_one_main_wrapper .single_content_area_outer .section_content .itemgrid_block .content_holder .service_title h3:after,
    .spc_our_blog_release_layout_two .section_content .blog_layout_two_item .the_title h3:after {

        content: '';
        border-bottom: 3px solid $secondary_color;
        position: absolute;
        bottom: 0;
        display: block;
        left: 0;
        right: 0;
        width: 40px;
        margin: 0 auto;
    }




    .spc_archive_layout_one_main_wrapper .content_holder .service_title h3 {

        font-size: 16px;
    }
    /*
*******************************************************************
*
** Section who are styles
*
********************************************************************
*/

    .who_we_are_accordion {
        border-top: 1px solid $border_color;
        text-align: left;
    }

    .who_we_are_accordion li {
        border-bottom: 1px solid $border_color;
        position: relative;
    }

    .who_we_are_accordion li p {

        display: none;
        padding: 10px 10px 30px;
        color: $primary_color;
    }

    .who_we_are_accordion a {
        width: 100%;
        display: block;
        cursor: pointer;
        user-select: none;
        padding: 15px 10px;
        font-weight: 500;
        font-size: 14px;
        text-transform: uppercase;
    }

    .who_we_are_accordion a:after {
        width: 8px;
        height: 8px;
        border-right: 1px solid $secondary_color;
        border-bottom: 1px solid $secondary_color;
        position: absolute;
        right: 10px;
        top: 24px;
        content: " ";
        transform: rotate(-45deg);
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }

    .who_we_are_accordion p {

        padding: 0 10px 30px 10px;
    }

    .who_we_are_accordion a.active:after {
        transform: rotate(45deg);
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }

    .who_we_are_right_block {

        position: relative;
    }

    .who_we_are_right_block:before {

        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        transition: all 0.4s ease;
        width: 100%;
    }

    .who_we_are_right_block .waves-block .waves {
        position: absolute;
        z-index: 5;
        width: 303px;
        height: 300px;
        background: rgba(255, 255, 255, 0.3);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        border-radius: 100%;
        -webkit-animation: waves 3s ease-in-out infinite;
        animation: waves 3s ease-in-out infinite;
        left: 50%;
        margin-left: -150px;
        top: 50%;
        margin-top: -150px;
    }

    .who_we_are_right_block .waves-block .wave-1 {
        -webkit-animation-delay: 0s;
        animation-delay: 0s;
    }

    .who_we_are_right_block .waves-block .wave-2 {
        -webkit-animation-delay: 1s;
        animation-delay: 1s;
    }

    .who_we_are_right_block .waves-block .wave-3 {
        -webkit-animation-delay: 2s;
        animation-delay: 2s;
    }

    .who_we_are_right_block .who_we_are_video {

        a,
        figure {

            outline: none !important;
        }

        figure {

            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
        }

        .thin_mask {

            background: rgba(0, 0, 0,0);
        }
    }

div.pp_default .pp_content {
    
    background:transparent;
}


/*
*******************************************************************
*
** Section recent projects styles
*
********************************************************************
*/

    .filtr-button {
        background-color: $secondary_color;
        border: 2px solid $secondary_color;
        border-radius: 200px;
        color: $white;
        font-weight: 600;
        padding: 0.75rem 2.5rem;
        text-transform: uppercase;
        transition: background-color 0.25s
    }

    .filtr-button:hover {
        background: none;
        color: $secondary_color;
    }

    .filtr-button.filtr-active {

        background: none;
        color: $secondary_color;
    }

    .nav-gallery {
        margin-bottom: 40px;
    }

    .nav-gallery li {
        border-radius: 200px !important;
        border: 2px solid $secondary_color;
        cursor: pointer !important;
        -webkit-transition: all 0.7s ease;
        transition: all 0.7s ease;
    }

    @media (min-width: 768px) {
        .nav-gallery li {


            display: inline-block
        }
    }

    @media (min-width: 1200px) {
        .filtr-container {
            margin: 0 auto;
            transition: height 0.7s ease-out
        }
    }

    .filtr-item {
        padding: 15px
    }

    .filtr-item img {
        border-radius: 5px;

        -webkit-transition: all 0.7s ease;
        transition: all 0.7s ease;
    }

    .item-desc,
    .item-position {
        background-color: rgba(0, 0, 0, 0.7);
        border-radius: 5px;
        left: 1.5rem;
        right: 1.5rem;
        bottom: 1.5rem;
        display: block;
        padding: 10px;
        position: absolute;
        text-align: center;
        text-transform: uppercase;
        color: $white;

        a {

            color: $white;
        }

        a:hover {

            color: $secondary_color;
        }
    }

    .item-position {
        left: 2rem;
        top: 2rem;
        padding: 0.75rem 1.25rem;
        right: auto;
        bottom: auto;
    }



    .sameHeight .filtr-item:nth-child(3),
    .sameHeight .filtr-item:nth-child(5),
    .sameHeight .filtr-item:nth-child(9),
    .sameHeight .filtr-item:nth-child(11),
    .sameHeight .filtr-item:nth-child(2) {
        width: 33.3%
    }

    .sameWidth .filtr-item:nth-child(3),
    .sameWidth .filtr-item:nth-child(5),
    .sameWidth .filtr-item:nth-child(9),
    .sameWidth .filtr-item:nth-child(10),
    .sameWidth .filtr-item:nth-child(2) {
        height: 128px
    }
    /*
*******************************************************************
*
** Section who are styles
*
********************************************************************
*/

    .spc_what_we_offer .section_content .what_we_offer_block,
    .spc_archive_layout_one_main_wrapper .single_content_area_outer .section_content .itemgrid_block {

        margin-bottom: 40px;
    }

    .spc_what_we_offer .section_content .what_we_offer_block .what_we_offer_icon span.icon_holder {

        position: relative;
        z-index: 5;
        background: $secondary_color;
        width: 101px;
        height: 101px;
        display: inline-block;
        border-radius: 50%;
        border: 3px solid $section_bg;
        transition: all 1s ease;
    }

    .spc_what_we_offer .section_content .what_we_offer_block .what_we_offer_icon span.icon_holder:hover {

        background: none;
        border: 3px solid $secondary_color;
        transition: all 1s ease;

        i {

            color: $secondary_color;
        }
    }

    .spc_what_we_offer .section_content .what_we_offer_block .what_we_offer_icon span.icon_holder i {

        position: absolute;
        z-index: 5;
        font-size: 42px;
        color: $white;
        left: 0;
        right: 0;
        top: 30px;
        display: block;
        margin: 0 auto;
        transition: all 1s ease;
    }
    /*
*******************************************************************
*
** Section counter styles 
*
********************************************************************
*/

    .spc_counter_Section .section_inner,
    .spc_cta .section_inner {
        position: relative;
        background-repeat: no-repeat !important;
        background-attachment: fixed !important;
        background-size: cover !important;
        background-position: center center !important;
    }

    .spc_counter_Section .counterup_block {

        position: relative;
        z-index: 2;
        padding-top: 40px;
    }

    .spc_counter_Section .counterup_block .what_we_offer_icon span.icon_holder:hover {

        background: none;
        border: 3px solid $secondary_color;
        transition: all 1s ease;
    }

    .spc_counter_Section .counterup_block .what_we_offer_icon span.icon_holder span {

        position: absolute;
        z-index: 5;
        font-size: 42px;
        color: $secondary_color;
        left: 0;
        right: 0;
        top: 50px;
        font-size: 24px;
        font-weight: 600;
        display: block;
        margin: 0 auto;
        transition: all 1s ease;
    }

    .spc_counter_Section .counterup_block .what_we_offer_icon span.icon_holder {

        position: relative;
        z-index: 5;
        width: 141px;
        height: 141px;
        display: inline-block;
        border-radius: 50%;
        border: 3px solid $secondary_color;
        transition: all 1s ease;
    }

    .spc_counter_Section .counterup_block .service_title {

        h3 {

            color: $white;
            font-size: 16px;
        }

        h3:after {

            border-bottom: 3px solid $white;
        }
    }
    /*
*******************************************************************
*
** Section our team  styles 
*
********************************************************************
*/

    .spc_our_team .section_content .team_carousel .item .item_container {

        position: relative;
        -webkit-transition: all 1s ease;
        transition: all 1s ease;

        .thin_mask {

            background: rgba(0, 0, 0, 0.0);
            -webkit-transition: all 1s ease;
            transition: all 1s ease;
        }

        .team_details {

            opacity: 0;
        }
    }


    .spc_our_team .section_content .team_carousel .item .item_container .team_details {

        position: absolute;
        z-index: 5;
        left: 1%;
        right: 1%;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);

        h3,
        p {

            color: $white;
        }

        .team_social ul li a {

            color: $white;
        }
    }

    .spc_our_team .section_content .team_carousel .item .item_container .team_details .service_desc {

        padding-bottom: 20px;
    }

    .spc_our_team .section_content .team_carousel .item .item_container .team_details .team_social ul li {

        display: inline-block;
        padding-right: 20px;
    }

    .spc_our_team .section_content .team_carousel .item .item_container:hover {



        .thin_mask {

            background: rgba(0, 0, 0, 0.6);
            -webkit-transition: all 1s ease;
            transition: all 1s ease;
        }

        .team_details {

            opacity: 1;
            animation: 1s .4s zoomIn both;

            .team_social ul li a:hover {

                color: $secondary_color;
            }
        }
    }

    .spc_our_team .section_content .team_carousel .owl-nav,
    .spc_testinomial .testinomial_carousel .owl-nav {


        color: $white;
        border: none;
    }

    .spc_our_team .section_content .team_carousel .owl-nav .owl-prev,
    .spc_testinomial .testinomial_carousel .owl-nav .owl-prev {

        left: -10px;
        background: $primary_color;
    }

    .spc_our_team .section_content .team_carousel .owl-nav .owl-next,
    .spc_testinomial .testinomial_carousel .owl-nav .owl-next {

        right: -10px;
        background: $primary_color;
    }

    .spc_our_team .section_content .team_carousel .owl-nav .owl-prev:hover,
    .spc_our_team .section_content .team_carousel .owl-nav .owl-next:hover,
    .spc_testinomial .testinomial_carousel .owl-nav .owl-prev:hover,
    .spc_testinomial .testinomial_carousel .owl-nav .owl-next:hover {

        opacity: 0.6;
    }
    /*
*******************************************************************
*
** Section Our blog styles 
*
********************************************************************
*/

    .spc_our_blog_release_layout_one .our_blog_block {

        border: 1px solid $border_color;
        margin-bottom: 30px;
    }

    .spc_our_blog_release_layout_one .our_blog_block .blog_title h3,
    .spc_our_blog_release_layout_two .section_content .blog_layout_two_item .the_title h3 {

        font-size: 16px;
    }

    .spc_our_blog_release_layout_one .our_blog_block .blog_category,
    .spc_our_blog_release_layout_one .our_blog_block .blog_posted_date {

        padding-bottom: 15px;
    }

    .spc_our_blog_release_layout_one .our_blog_block .blog_category a {

        text-transform: uppercase;
        display: inline-block;
        font-weight: 500;
    }

    .spc_our_blog_release_layout_one .our_blog_block .blog_category a:nth-child(2):before,
    .spc_our_blog_release_layout_one .our_blog_block .blog_category a:nth-child(3):before,
    .spc_our_blog_release_layout_one .our_blog_block .blog_category a:nth-child(4):before,
    .spc_our_blog_release_layout_one .our_blog_block .blog_category a:nth-child(5):before {

        content: ',';
        padding-right: 5px;
    }

    .spc_our_blog_release_layout_one .our_blog_block .blog_posted_date a {

        text-transform: uppercase;
        display: inline-block;
        color: #999;
        font-size: 12px;

        &:hover {

            color: $primary_color;
        }

        &:before {

            content: '\f133';
            font-family: 'fontAwesome';
            padding-right: 10px;
        }
    }

    .spc_our_blog_release_layout_one .our_blog_block .blog_author_image {

        margin: 30px 0 45px 0;
    }

    .spc_our_blog_release_layout_one .our_blog_block .blog_author_image img {

        display: inline-block;
        margin: 0 auto;
        border-radius: 50%;
        width: 80px;
    }

    .spc_our_blog_release_layout_one .our_blog_block .blog_perma_and_meta:after {

        clear: both;
    }

    .spc_our_blog_release_layout_one .our_blog_block .blog_perma_and_meta .blog_like {

        float: left;
    }

    .spc_our_blog_release_layout_one .our_blog_block .blog_perma_and_meta .blog_permalink {

        float: right;
    }

    .spc_our_blog_release_layout_one .our_blog_block .blog_perma_and_meta .blog_permalink a {
        display: inline-block;
        text-transform: uppercase;
        padding: 2px 0;
        border-bottom: 2px solid $secondary_color;
    }
    /*
*******************************************************************
*
** Section client verdic  styles
*
********************************************************************
*/

    .spc_testinomial .section_content .testinomial_content_outer {

        margin: 30px 30px;
        text-align: left;
    }


    .spc_testinomial .section_content .testi_content_inner {
        position: relative;
        background: $white;
        padding: 30px 30px;
        -webkit-box-shadow: 0px 0px 5px 0px rgba(20, 20, 20, 0.2);
        -moz-box-shadow: 0px 0px 5px 0px rgba(20, 20, 20, 0.2);
        box-shadow: 0px 0px 5px 0px rgba(20, 20, 20, 0.2);
    }

    .spc_testinomial .section_content .testi_content_inner:after {

        content: "";
        position: absolute;
        left: 20px;
        bottom: -17px;
        border-width: 0 18px 18px 0;
        border-style: solid;
        border-color: transparent $white transparent transparent;
    }


    .spc_testinomial .section_content .testinomial_content_outer .testi_author_desc .author_fimage {

        img {

            border-radius: 50%;
            width: 80px;
        }
    }

    .author_meta_holder {
        margin-top: 30px;
    }

    .testi_author_desc {

        float: left;
    }

    .author_fimage {

        margin-right: 15px;

        float: left;
    }

    .author_misc {

        float: left;
        padding-top: 20px;

        .author_name {

            text-transform: uppercase;
            font-weight: 600;
            font-size: 16px;
            display: block;
            color: $primary_color
        }

        .author_profession {

            color: $secondary_color;
            display: block;
        }
    }


    .testi_author_rating {

        float: right;
        padding-top: 20px;

        span {

            i {

                color: $secondary_color;
            }
        }
    }

    .spc_testinomial .testinomial_carousel .owl-dots button.owl-dot {

        display: inline-block;
        background: $secondary_color;
        color: $secondary_color;
        border: 3px solid $secondary_color;
        padding: 5px !important;
        margin: 5px;
        border-radius: 50%;
        outline: none;
        cursor: pointer;
    }

    .spc_testinomial .testinomial_carousel .owl-dots button.owl-dot.active {

        background: none;
    }
    /*
*******************************************************************
*
** Section partners styles
*
********************************************************************
*/

    .spc_our_partners .section_content .item {

        border: 1px solid $border_color;
    }
    /*
*******************************************************************
*
** Section call to action  styles
*
********************************************************************
*/

    .spc_cta {

        position: relative;
    }

    .spc_cta .section_title {

        position: relative;


        h2 {
            color: $white;
        }
    }

    section.spc_cta .cta_contents,
    .spc_cta .section_title {

        position: relative;
        z-index: 5;
    }

    section.spc_cta .cta_contents p {

        color: $white;
        padding-bottom: 40px;
    }
    /*
*******************************************************************
*
** Section our pricing styles
*
********************************************************************
*/

    .spc_pricing .section_inner .pricing_table_holder {
        padding: 60px 0;
        margin: 0 auto;
        display: block;
    }

    .spc_pricing .pricing__table {
        position: relative;
        display: inline-block;
        padding: 40px;
        background: $section_bg;
        overflow: hidden;
        width: 31.33%;
        margin: 10px;
        border-radius: 5px;
        -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
        -ms-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
        -o-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        -moz-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        -ms-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        -o-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    .spc_pricing .pricing__table:nth-child(1) {
        background-image: linear-gradient(135deg, #FCCF31 10%, #F55555 100%);
        z-index: 90;
    }

    .spc_pricing .pricing__table:nth-child(2) {
        background-image: linear-gradient(135deg, #F761A1 10%, #8C1BAB 100%);
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
        z-index: 100;

        a {

            font-size: 11px !important;
        }
    }

    .spc_pricing .pricing__table:nth-child(3) {
        background-image: linear-gradient(135deg, #43CBFF 10%, #9708CC 100%);
        z-index: 90;
    }

    .spc_pricing .pricing__table .icon {
        display: block;
        width: 70px;
        height: 70px;
        background: $white;
        text-align: center;
        line-height: 70px;
        font-size: 2.2em;
        margin: 20px auto;
        border-radius: 50px;
        -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
        -ms-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
        -o-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    }

    .spc_pricing .pricing__table .icon span {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        -moz-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        -ms-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        -o-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    .spc_pricing .pricing__table .type-01 {
        color: #FCCF31;
    }

    .spc_pricing .pricing__table .type-02 {
        color: #F761A1;
    }

    .spc_pricing .pricing__table .type-03 {
        color: #43CBFF;
    }

    .spc_pricing .heading {
        color: $white;
        text-align: center;
        text-transform: capitalize;
        font-weight: lighter;
        padding: 10px;
        font-size: 1.2em;
    }

    .spc_pricing .service__price {
        color: $white;
        text-align: center;
        font-size: 3em;
    }

    .spc_pricing .service__price .dollar__sign {
        font-size: .6em;
        margin-left: -10px;
    }

    .spc_pricing .features__list {
        list-style: none;
        display: block;
        margin: 20px auto;
        width: 80%;
    }

    .spc_pricing .features__list li {
        color: $white;
        text-align: center;
        display: block;
        text-transform: capitalize;
        font-weight: lighter;
        font-size: .9em;
        height: 30px;
        line-height: 30px;
    }

    .order__button {

        display: inline-block;

        font-size: 12px;
        padding: 10px 30px;
        margin: 5px auto;
        border-radius: 200px;
        border: 2px solid $white;
        -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
        -ms-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
        -o-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
        text-transform: uppercase;
        background: $white;
        font-weight: 500;
        vertical-align: middle;
    }

    .spc_pricing a.order__button:focus,
    .spc_pricing a.order__button:hover {
        outline: none;
        background: none;
        color: $white;
    }
    /*
*******************************************************************
*
** Section footer styles
*
********************************************************************
*/

    footer#footer {

        position: relative;
        padding: 60px 0;
        color: $footer_text_color;
        background: $footer_bg_color;
    }

    .footer_bottom .footer_bottom_right {
        color: $footer_text_color;
    }

    #footer #footer-widgets .widget {
        margin-top: 0;
        color: $footer_text_color;

        .textwidget {

            img {

                width: 250px;
                display: block;
                margin-bottom: 40px;
            }
        }
    }

    #footer-widgets .widget .widget-title {
        position: relative;
        margin-bottom: 60px;
        padding-bottom: 20px;
        color: $white;
        text-transform: uppercase;
    }

    #footer-widgets .widget .widget-title:after {

        content: '';
        border-bottom: 3px solid $secondary_color;
        position: absolute;
        bottom: 0;
        display: block;
        left: 0;
        right: 0;
        width: 50px;
    }

    #footer-widgets .widget.widget_nav_menu ul.col2 li {
        width: 50%;
        float: left;
        padding: 0 0 10px;
    }


    #footer-widgets .widget.widget_nav_menu ul li a {
        position: relative;
        display: inline-block;
        padding-left: 25px;
        color: $footer_links_color;
        -webkit-transition: all 0.7s ease;
        transition: all 0.7s ease;
    }

    #footer-widgets .widget.widget_nav_menu ul li a:before {
        content: "\f105";
        font-family: 'fontAwesome';
        position: absolute;
        left: 0;
        top: 0;
        -webkit-transition: all 0.7s ease;
        transition: all 0.7s ease;
    }

    #footer-widgets .widget.widget_nav_menu ul li a:hover {
        color: $secondary_color;
    }

    #footer-widgets .widget.widget_nav_menu ul li a:hover:before {

        left: 5px;
    }

    #footer-widgets .widget ul li {

        padding-bottom: 15px;
    }

    #footer-widgets .widget ul li p {

        font-weight: 600;

        span {

            font-weight: 400;
            padding-left: 5px;
        }
    }

    #footer #footer-widgets .widget_socials ul li a {

        padding-right: 15px;

        i {

            color: $footer_text_color;
        }
    }

    .footer_bottom {

        background: $primary_color;
        padding: 20px 0;

        p {

            color: #aeaeae;
        }

        a {

            color: $white;
        }

        .footer_bottom_right {

            text-align: right;
        }
    }
    /*
*******************************************************************
*
** Back to top styles
*
********************************************************************
*/

    #toTop {
        position: fixed;
        z-index: 9999;
        bottom: 10px;
        right: 10px;
        cursor: pointer;
        display: none;
        padding: 7px 12px;
        border-radius: 4px;
        background-color: $secondary_color;
        color: $white;

        .fa {

            font-size: 16px;
        }
    }
    /*
*******************************************************************
*
** Breadcrumb styles
*
********************************************************************
*/

    .spc_general_single_page_main_wrapper .single_inner .breadcrumb {

        padding: 0 0 40px 0;
        margin: 0;
        background: none;
        border-radius: 0;
    }
    /*
*******************************************************************
*
** Blog post single page layout
*
********************************************************************
*/

    body.header_relative .spc_general_header .header_mask {

        position: relative;
        background: $primary_color;
    }

    .spc_general_single_page_main_wrapper .single_inner {


        position: relative;
        text-align: left;
        padding: 60px 0;
    }


    .spc_general_single_page_main_wrapper .single_inner .breadcrumb ul.breadcrumb_list {

        li {

            display: inline-block;

            a,
            span {

                display: inline-block;
                text-transform: uppercase;
            }

            a:after {

                content: '\f105';
                font-family: 'fontAwesome';
                padding: 0 20px;
                display: inline-block;
            }
        }
    }

    .spc_general_single_page_main_wrapper .single_inner .breadcrumb ul.breadcrumb_list li:last-child a:after {

        content: '';
    }

    .spc_general_single_page_main_wrapper .single_inner .left_and_right_section_holder .single_content_area_outer .single_title h2,
    aside.project_sidebar .widget_wrapper .widget_title h3,
    .contact_page_content_holder .contact_page_left .title h3 {

        position: relative;
        margin-bottom: 60px;
        padding-bottom: 20px;
        text-transform: uppercase;
    }


    .spc_general_single_page_main_wrapper .single_inner .left_and_right_section_holder .single_content_area_outer .single_title h2:after,
    aside.project_sidebar .widget_wrapper .widget_title h3:after,
    .contact_page_content_holder .contact_page_left .title h3:after {
        position: absolute;
        content: '';
        border-bottom: 3px solid $secondary_color;
        bottom: 0;
        display: block;
        left: 0;
        right: 0;
        width: 50px;
    }

    .spc_general_single_page_main_wrapper .single_inner .left_and_right_section_holder .single_content_area_outer .single_fimage,
    .spc_general_single_page_main_wrapper .single_inner .left_and_right_section_holder .single_content_area_outer .single_content,
    .spc_general_single_page_main_wrapper .single_inner .left_and_right_section_holder .single_content_area_outer .single_meta {

        padding-bottom: 30px;
    }

    .spc_general_single_page_main_wrapper .single_inner .left_and_right_section_holder .single_content_area_outer .single_meta ul li {

        display: inline-block;
        padding-right: 30px;
    }

    .spc_general_single_page_main_wrapper .single_inner .left_and_right_section_holder .single_content_area_outer .single_meta ul li a,
    .spc_general_single_page_main_wrapper .single_inner .left_and_right_section_holder .single_content_area_outer .single_meta ul li.post_likes,
    .spc_our_blog_release_layout_two .section_content .blog_layout_two_item .post_meta ul.meta_list li a {

        display: inline-block;
        text-transform: uppercase;
        font-size: 12px;
        color: #999;
    }

    .spc_general_single_page_main_wrapper .single_inner .left_and_right_section_holder .single_content_area_outer .single_meta ul li a:hover {

        color: $secondary_color;
    }

    .spc_general_single_page_main_wrapper .single_inner .left_and_right_section_holder .single_content_area_outer .single_meta ul li.author_name,
    .spc_our_blog_release_layout_two .section_content .blog_layout_two_item .post_meta ul.meta_list li.author_name {

        a:before {

            content: '\f2bd';
            font-family: 'fontAwesome';
            padding-right: 5px;
        }
    }

    .spc_general_single_page_main_wrapper .single_inner .left_and_right_section_holder .single_content_area_outer .single_meta ul li.posted_date {

        a:before {

            content: '\f073';
            font-family: 'fontAwesome';
            padding-right: 5px;
        }
    }

    .spc_general_single_page_main_wrapper .single_inner .left_and_right_section_holder .single_content_area_outer .single_meta ul li.posted_category a:nth-child(2)::before,
    .spc_general_single_page_main_wrapper .single_inner .left_and_right_section_holder .single_content_area_outer .single_meta ul li.posted_category a:nth-child(3)::before,
    .spc_general_single_page_main_wrapper .single_inner .left_and_right_section_holder .single_content_area_outer .single_meta ul li.posted_category a:nth-child(4)::before,
    .spc_general_single_page_main_wrapper .single_inner .left_and_right_section_holder .single_content_area_outer .single_meta ul li.posted_category a:nth-child(5)::before,
    .spc_general_single_page_main_wrapper .single_inner .left_and_right_section_holder .single_content_area_outer .single_meta ul li.posted_category a:nth-child(6)::before {

        content: '|';
        display: inline-block;
        padding: 0 3px;
    }

    .spc_general_single_page_main_wrapper .single_inner .left_and_right_section_holder .single_content_area_outer .single_meta ul li.post_likes a .fa,
    .spc_our_blog_release_layout_two .section_content .blog_layout_two_item .post_meta ul.meta_list li.post_likes a .fa {

        color: $secondary_color;
    }

    .spc_general_single_page_main_wrapper .single_inner .left_and_right_section_holder .single_content_area_outer .single_content,
    .contact_page_content_holder .contact_page_left .company_desc {

        p {

            padding-bottom: 30px;
        }

        blockquote {
            padding: 10px 20px;
            margin-bottom: 30px;
            font-size: inherit;
            border-left: 5px solid $secondary_color;
        }
    }


    .spc_general_single_page_main_wrapper .single_inner .left_and_right_section_holder .single_content_area_outer .social_sharing ul li,
    .contact_page_content_holder .contact_page_left .socials ul.social_icons_list li {

        display: inline-block;
        margin-right: 20px;
        text-align: center;

        a {
            color: #999;
            display: inline-block;
            width: 30px;
            height: 30px;
            border: 1px solid $border_color;
            border-radius: 4px;
            font-size: 14px;
            line-height: 30px;
        }

        a:hover {

            color: $secondary_color;
            border: 1px solid $secondary_color;
        }
    }

    .spc_general_single_page_main_wrapper .single_inner .left_and_right_section_holder .single_content_area_outer .social_sharing ul li:last-child {

        margin-right: 0;
    }

    .spc_general_single_page_main_wrapper article .single_content {

        p {

            padding-bottom: 20px;
        }

        ul,
        ol {

            li {

                display: block;
                padding-bottom: 10px;
            }
        }

        ul {
            list-style: disc;
            margin-left: 10px;
            margin-bottom:10px;
        }

        ol {

            list-style: decimal;
            margin-left: 10px;
            margin-bottom:10px;
        }
}


    aside.sidebar .search_widget .widget_contents_holder {

        input {

            margin-bottom: 0px !important;
        }
    }
    /*
*******************************************************************
*
** project single page layout
*
********************************************************************
*/

    aside.project_sidebar .widget_wrapper {

        padding: 40px 30px;
        margin-bottom: 60px;
        border-radius: 4px;
        -webkit-box-shadow: 0px 2px 20px 0px rgba(50, 50, 50, 0.1);
        box-shadow: 0px 2px 20px 0px rgba(50, 50, 50, 0.1);
    }

    aside.project_sidebar .widget_wrapper .widget_contents_holder ul li,
    .contact_page_content_holder .contact_page_left .company_misc ul li {

        position: relative;
        display: block;
        padding: 20px 0px 20px 35px;
        text-transform: capitalize;
        border-bottom: 1px solid $border_color;


        span {
            text-transform: capitalize;
            font-weight: 500;
            padding-right: 5px;
            display: inline-block;
        }
    }

    aside.project_sidebar .widget_wrapper .widget_contents_holder ul li:first-child {

        padding-top: 0;
    }

    aside.project_sidebar .widget_wrapper .widget_contents_holder ul li:first-child:before {

        content: '';
        top: -9px;
        font-family: 'fontAwesome';
    }

    aside.project_sidebar .widget_wrapper .widget_contents_holder ul li:last-child {

        border-bottom: none;
        padding-bottom: 0;
    }

    aside.project_sidebar .widget_wrapper .widget_contents_holder ul li:before,
    .contact_page_content_holder .contact_page_left .company_misc ul li:before {

        position: absolute;
        left: 0;
        top: 12px;
        display: inline-block;
        font-family: 'fontAwesome';
        padding-right: 10px;
        font-size: 26px;
        color: $secondary_color;
        vertical-align: middle;
    }

    aside.project_sidebar .widget_wrapper .widget_contents_holder ul li.project_type:before {

        content: '\f018';
    }

    aside.project_sidebar .widget_wrapper .widget_contents_holder ul li.project_size:before {

        content: '\f012';
    }


    aside.project_sidebar .widget_wrapper .widget_contents_holder ul li.project_architect:before {

        content: '\f1ad';
    }


    aside.project_sidebar .widget_wrapper .widget_contents_holder ul li.project_location:before {

        content: '\f124';
    }



    aside.project_sidebar .widget_wrapper .widget_contents_holder ul li.project_started_date:before {

        content: '\f073';
    }


    aside.project_sidebar .widget_wrapper .widget_contents_holder ul li.project_started_date:before {

        content: '\f073';
    }


    aside.project_sidebar .widget_wrapper .widget_contents_holder ul li.project_completed_date:before {

        content: '\f274';
    }


    aside.project_sidebar .widget_wrapper .widget_contents_holder ul li.project_client:before {

        content: '\f2bd';
    }



    aside.project_sidebar .widget_wrapper .widget_contents_holder ul li.project_value:before {

        content: '\f0d6';
    }


    aside.project_sidebar .widget_wrapper .widget_contents_holder form,
    .contact_form_large form {


        label {

            font-weight: 500;
        }

        input,
        textarea,
        select {

            display: block;
            width: 100%;
            height: 34px;
            padding: 6px 12px;
            margin-bottom: 15px;
            margin-top: 15px;
            color: $section_bg;
            background-color: $white;
            background-image: none;
            border: 1px solid $border_color;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        }

        textarea {

            min-height: 150px;
        }

        input:focus,
        textarea:focus {

            border-color: #66afe9;
            outline: 0;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
            color: #111;
        }

        input[type="submit"] {

            display: inline-block;
            background: $secondary_color;
            border: 2px solid $secondary_color;
            border-radius: 4px;
            color: $white;
            font-size: 14px;
            text-transform: uppercase;
            height: auto;
            width: auto;
            font-weight: 600;
            padding: 12px 20px;
            margin: 0;
            box-shadow: none;
            transition: all 0.7s ease;
        }

        input[type="submit"]:hover {

            background: none;
            color: $secondary_color;
        }
    }
    /*
*******************************************************************
*
** Services single page layout
*
********************************************************************
*/

    aside.project_sidebar .widget_wrapper .widget_contents_holder .widget_col_box {
        margin-bottom: 30px;
        padding-bottom: 30px;
        border-bottom: 1px solid rgba(226, 226, 226, 0.5);
    }

    aside.project_sidebar .widget_wrapper .widget_contents_holder .widget_col_box:last-child {

        margin-bottom: 0;
        padding-bottom: 0;
        border: none;
    }

    aside.project_sidebar .widget_wrapper .widget_contents_holder .widget_col_box .box_fimage {

        float: left;
        width: 35%;
        display: inline-block;
        margin-right: 5%;
    }

    aside.project_sidebar .widget_wrapper .widget_contents_holder .widget_col_box .box_details {

        float: left;
        width: 60%;
    }

    aside.project_sidebar .widget_wrapper .widget_contents_holder .widget_col_box .box_details h4 {

        text-transform: uppercase;
        font-size: 14px;
        padding-bottom: 5px;
    }
    /*
*******************************************************************
*
** 404 page styles
*
********************************************************************
*/

    .spc_general_single_page_main_wrapper .left_and_right_section_holder .error_page_message_holder {

        text-align: center;
    }

    .spc_general_single_page_main_wrapper .left_and_right_section_holder .error_page_message_holder .error_header {

        padding-bottom: 60px;
    }

    .spc_general_single_page_main_wrapper .left_and_right_section_holder .error_page_message_holder .error_header h2 {

        font-size: 92px;
    }

    .spc_general_single_page_main_wrapper .left_and_right_section_holder .error_page_message_holder .error_desc {
        padding-bottom: 60px;
    }

    .spc_general_single_page_main_wrapper .left_and_right_section_holder .error_page_message_holder .error_desc h4 {

        text-transform: uppercase;
        padding-bottom: 20px;
    }
    /*
*******************************************************************
*
** Contact page styles
*
********************************************************************
*/

    .contact_page_content_holder .contact_page_left .company_desc {

        padding-bottom: 30px;
    }

    .contact_page_content_holder .contact_page_left .company_misc ul li {

        border: none;
    }

    .contact_page_content_holder .contact_page_left .company_misc ul li {

        text-transform: inherit;
    }

    .contact_page_content_holder .contact_page_left .company_misc ul li.company_name:before {

        content: '\f1ad';
    }

    .contact_page_content_holder .contact_page_left .company_misc ul li.comapny_address:before {

        content: '\f124';
    }


    .contact_page_content_holder .contact_page_left .company_misc ul li.company_phone:before {

        content: '\f098';
    }


    .contact_page_content_holder .contact_page_left .company_misc ul li.company_email:before {

        content: '\f2b6';
    }

    .contact_page_content_holder .contact_page_left .socials {

        padding: 60px 0;
    }

    .contact_page_content_holder .contact_page_right .company_location_map {

        margin: 60px 0;
    }

    .contact_page_content_holder .contact_page_right .company_location_map iframe {

        width: 100% !important;
        height: 500px !important;
        border: 2px solid $border_color;
        border-radius: 5px;
    }

    .contact_form_large select,
    .contact_form_large select option {

        color: #9c9c9c !important;
        text-transform: capitalize;
    }

    .contact_form_large form input.btn_send {

        padding: 15px 50px;
        border-radius: 200px;
    }
    /*
*******************************************************************
*
** Archive page layout
*
********************************************************************
*/

    .spc_archive_layout_one_main_wrapper .single_content_area_outer .single_title h2 span {

        color: $secondary_color;
    }

    .spc_archive_layout_one_main_wrapper .single_content_area_outer .section_content .itemgrid_block {

        text-align: center;
    }

    .spc_archive_layout_one_main_wrapper .single_content_area_outer .section_content .our_blog_block {

        margin-bottom: 30px !important;
    }
    /*
*******************************************************************
*
** Search page layout
*
********************************************************************
*/

    .spc_search_page_layout_main_wrapper .single_content_area_outer .section_content .search_result_items {

        -webkit-box-shadow: 0px 2px 20px 0px rgba(50, 50, 50, 0.1);
        box-shadow: 0px 2px 20px 0px rgba(50, 50, 50, 0.1);
        padding: 30px 30px;
        margin-bottom: 40px;
    }

    .spc_search_page_layout_main_wrapper .single_content_area_outer .section_content .post_desc .single_title h2 span {

        color: $secondary_color;
    }

    .spc_search_page_layout_main_wrapper .single_content_area_outer .section_content .post_desc .post_title {

        padding-bottom: 15px;

        h3 {

            text-transform: uppercase;
        }
    }

    .spc_search_page_layout_main_wrapper .single_content_area_outer .section_content .post_desc .post_content {

        padding-bottom: 15px;
    }

    .spc_search_page_layout_main_wrapper .single_content_area_outer .section_content .post_desc .the_permalink a {
        position: relative;
        display: inline-block;
        border: 1px solid $secondary_color;
        border-radius: 4px;
        padding: 4px 15px;
        text-transform: capitalize;
        color: $primary_color;
        font-weight: 400;
    }


    .spc_search_page_layout_main_wrapper .single_content_area_outer .section_content .post_desc .the_permalink a:hover {

        background: $secondary_color;
        color: $white;
        border: 1px solid $secondary_color;
    }
    /*
*******************************************************************
********************************************************************
********************************************************************
********************************************************************
*
*
*** Home two styles ( homepage layout two styles )
*
*
*******************************************************************
*******************************************************************
*******************************************************************
********************************************************************
*/
/*
*******************************************************************
*
** Header layout two styles
*
********************************************************************
*/

    header.spc_general_header.spc_header_layout_two .header_mask {

        position: relative !important;
        background: rgba(17, 17, 17, 1);
    }

    header.spc_general_header.spc_header_layout_two .header_top_inner {

        border-bottom: 1px solid rgb(29, 29, 29);
    }

    header.spc_general_header.spc_header_layout_two .spc_header_nav_and_logo_holder .logo_holder {

        text-align: center;
        padding: 20px 0;
    }

    header.spc_general_header.spc_header_layout_two .spc_header_nav_and_logo_holder .logo_holder img {

        width: 320px;
    }

    header.spc_general_header.spc_header_layout_two .spc_header_nav_and_logo_holder nav.primary_navigation ul.primary_nav {

        text-align: center;
    }

    header.spc_general_header.spc_header_layout_two .spc_header_nav_and_logo_holder {

        padding: 0 0;
    }

    header.spc_general_header.spc_header_layout_two .spc_header_nav_and_logo_holder nav.primary_navigation {
        padding-bottom: 10px;
    }

    
/*
*******************************************************************
*
** Banner section layout two styles 
*
********************************************************************
*/

    body.home-two .spc_banner_home_two .home_page_slider .slider_caption {

        top: 35%;
        -webkit-transform: translateY(-35%);
        -moz-transform: translateY(-35%);
        -ms-transform: translateY(-35%);
        -o-transform: translateY(-35%);
        transform: translateY(-35%);
    }
    /*
*******************************************************************
*
** Who we are section layout two styles 
*
********************************************************************
*/

    .spc_who_we_are.who_we_are_layout_two .panel-group .panel {


        background-color: $white;
        border: none;
        box-shadow: none;
        border-radius: 0;
        margin-bottom: 20px;
        text-align: left !important;
    }

    .spc_who_we_are.who_we_are_layout_two .panel .panel-heading {
        position: relative;
        display: block;
        border: none;
        border: 2px solid $secondary_color;
        padding: 15px 30px 15px;
        background: $secondary_color;
        box-shadow: none;

        a,
        h4 {

            font-weight: 500;
            color: $white;
            text-transform: capitalize;
        }

        a:hover {

            color: $white;
        }
    }



    .spc_who_we_are.who_we_are_layout_two .panel .panel-heading a:after,
    .spc_who_we_are.who_we_are_layout_two .panel .panel-heading a.collapsed:after {
        content: "\f068";
        font-family: fontawesome;
        text-align: center;
        position: absolute;
        left: -20px;
        top: 10px;
        color: $white;
        background: $secondary_color;
        border: 5px solid $white;
        font-size: 15px;
        width: 40px;
        height: 40px;
        line-height: 30px;
        border-radius: 50%;
        transition: all 0.3s ease 0s;
    }

    .spc_who_we_are.who_we_are_layout_two .panel .panel-heading:hover a:after,
    .spc_who_we_are.who_we_are_layout_two .panel .panel-heading:hover a.collapsed:after {
        transform: rotate(360deg);
    }

    .spc_who_we_are.who_we_are_layout_two .panel .panel-heading a.collapsed:after {
        content: "\f067";
    }

    .spc_who_we_are.who_we_are_layout_two #accordion .panel-body {
        background-color: $white;
        color: $primary_color;
        padding: 20px 25px 20px 25px;
        border-top: none;
        font-size: 14px;
        position: relative;
    }
    /*
*******************************************************************
*
** Team section layout two styles 
*
********************************************************************
*/

    .spc_our_team .section_content .team_carousel .item.team_layout_two .item_container {

        background: $white;
        padding: 40px 0;
        border-radius: 5px;
        -webkit-box-shadow: 0px 2px 20px 0px rgba(50, 50, 50, 0.1);
        -webkit-box-shadow: 0px 2px 20px 0px rgba(50, 50, 50, 0.1);
        box-shadow: 0px 2px 20px 0px rgba(50, 50, 50, 0.1);
    }


    .spc_our_team .section_content .team_carousel .item.team_layout_two,
    .spc_our_team .section_content .team_carousel .item.team_layout_two .item_container,
    .spc_our_team .section_content .team_carousel .item.team_layout_two .item_container .team_details {

        position: relative;
        left: 0;
        right: 0;
        top: 0;
        transform: none;
        opacity: 1;
    }

    .spc_our_team .section_content .team_carousel .item.team_layout_two .item_container .content_holder {

        padding: 40px 10px 0 10px;
    }


    .spc_our_team .section_content .team_carousel .item.team_layout_two .item_container .team_fimage img {
        margin: 0 auto;
        width: 90px;
        height: 90px;
        border-radius: 50%;
    }

    .spc_our_team .section_content .team_carousel .item.team_layout_two .item_container .team_details h3,
    .spc_our_team .section_content .team_carousel .item.team_layout_two .item_container .team_details p,
    .spc_our_team .section_content .team_carousel .item.team_layout_two .item_container .team_details .team_social ul li a {

        color: $primary_color;
    }


    .spc_our_team .section_content .team_carousel .item.team_layout_two .item_container:hover {



        .team_details {

            opacity: 1;
            animation: none !important;
        }
    }
    /*
*******************************************************************
*
** Team section layout two styles 
*
********************************************************************
*/

    .spc_our_blog_release_layout_two .section_content .blog_layout_two_item {

        border-radius: 4px;
        margin-bottom: 40px;
        text-align: left;
        -webkit-box-shadow: 0px 2px 20px 0px rgba(50, 50, 50, 0.1);
        -webkit-box-shadow: 0px 2px 20px 0px rgba(50, 50, 50, 0.1);
        box-shadow: 0px 2px 20px 0px rgba(50, 50, 50, 0.1);
    }


    .spc_our_blog_release_layout_two .section_content .blog_layout_two_item .post_fimage .posted_date {

        position: absolute;
        bottom: 0;
        left: 0;

        span {

            display: inline-block;
            padding: 5px 10px;
            width: 55px;
            background: $secondary_color;
            text-align: center;

            a {
                display: inline-block;
                color: $white;
                font-size: 14px;
                letter-spacing: 2px;
                font-weight: 600;
                text-transform: uppercase;
            }
        }
    }

    .spc_our_blog_release_layout_two .section_content .blog_layout_two_item .post_info_holder {

        padding: 30px 20px;
    }

    .spc_our_blog_release_layout_two .section_content .blog_layout_two_item .post_meta {

        padding-bottom: 20px;
    }

    .spc_our_blog_release_layout_two .section_content .blog_layout_two_item .post_meta ul.meta_list li.author_name {

        float: left;
    }

    .spc_our_blog_release_layout_two .section_content .blog_layout_two_item .post_meta ul.meta_list li.post_likes {

        float: right;
        font-size: 12px;
        color: #999;
    }

    .spc_our_blog_release_layout_two .section_content .blog_layout_two_item .the_title {

        padding-bottom: 30px;
    }

    .spc_our_blog_release_layout_two .section_content .blog_layout_two_item .the_title h3:after {

        content: '';
        margin: 0;
    }

    .spc_our_blog_release_layout_two .section_content .blog_layout_two_item .the_content {

        padding-bottom: 10px;
    }
    /*
--------------------------------------------------------------------------------
# Pretty photo ( lightbox alternative )
----------------------------------------------------------------------------------
*/

    div.pp_default .pp_content {
        height: auto !important;
    }

    div.pp_default .pp_content_container .pp_details {
        margin: 0px !important;
    }
 /*
*******************************************************************
*
**  Styles for WordPress default assets
*
********************************************************************
*/
    /*
--------------------------------------------------------------------------------
# Style for wordpress comment
----------------------------------------------------------------------------------
*/

    #comments {

        margin-top: 50px;
    }

    #comments h2.comments-title {

        position: relative;
        text-transform: uppercase;
        font-size: 24px;
        padding-bottom: 20px;
        margin-bottom: 30px;
    }

    #comments h2.comments-title:after {

        content: '';
        position: absolute;
        border-bottom: 3px solid $secondary_color;
        bottom: 0;
        left: 0;
        width: 70px;
    }


    #comments div#respond {
        padding: 40px 30px;
        background: #fff;
        -webkit-box-shadow: 0px 2px 20px 0px rgba(50, 50, 50, 0.1);
        -webkit-box-shadow: 0px 2px 20px 0px rgba(50, 50, 50, 0.1);
        box-shadow: 0px 2px 20px 0px rgba(50, 50, 50, 0.1);
        border-radius: 5px;
    }


    #comments div#respond h3#reply-title {

        position: relative;
        text-transform: uppercase;
        font-size: 24px;
        padding-bottom: 20px;
        margin-bottom: 30px;
    }

    #comments div#respond h3#reply-title::after {

        content: '';
        position: absolute;
        border-bottom: 3px solid $secondary_color;
        bottom: 0;
        left: 0;
        width: 70px;
    }

    #comments form p.comment-notes {

        padding-bottom: 30px;
        display: block;
    }

    #comments form label {

        display: block;
        padding-bottom: 15px;
        padding-top: 30px;
        margin: 0;
        font-weight: 500;
        text-transform: uppercase;
        color: #6f6f6f;
    }

    #comments form input,
    #comments form textarea {

        position: relative;
        height: 38px;
        width: 100%;
        font-weight: 400;
        font-size: 14px;
        color: #333;
        padding-left: 15px;
        margin-bottom: 20px;
        border: 1px solid #eee;
        border-radius: 4px;
        outline: none;
    }


    #comments form textarea {

        height: 150px;
        border-radius: 5px;
    }

    #comments form input[type="submit"] {

        margin: 20px 0 0 0;
        -webkit-transition: all 0.7s ease;
        transition: all 0.7s ease;
    }

    #comments form input[type="submit"] {

        display: inline-block;
        width: 150px;
        background: $secondary_color;
        color: $white;
        text-transform: capitalize;
        font-weight: 500;
        font-size: 14px;
        outline: none;
        cursor: pointer;
        border: 1px solid $secondary_color;
        border-radius: 3px;
        padding: 0;
        line-height: inherit;
    }

    #comments form input[type="submit"]:hover {

        background: $primary_color;
        color: $white;
        border: 1px solid $primary_color;
    }



    #comments ol.comment-list {


        margin: 40px 0;
    }

    #comments ol.comment-list li {

        border: 1px solid #eee;
        padding: 40px 30px;
        margin-bottom: 30px;
        border-radius: 5px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, .08);
    }

    #comments ol.comment-list li ol {

        margin: 30px;
    }

    #comments ol.comment-list li article footer.comment-meta {

        padding-bottom: 20px;
    }


    #comments ol.comment-list li article footer.comment-meta .comment-author.vcard img {

        border: 2px solid #eee;
        border-radius: 50%;
    }

    #comments ol.comment-list li article footer.comment-meta .comment-author.vcard b a,
    #comments ol.comment-list li article footer.comment-meta .comment-author.vcard b,
    #comments ol.comment-list li article footer.comment-meta .comment-author.vcard span {
        position: relative;
        display: inline-block;
        padding-left: 5px;
        padding-right: 5px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $primary_color !important;
        font-size: 14px;
        font-weight: 500;
    }

    #comments ol.comment-list li article footer.comment-meta .comment-author.vcard span {

        padding-left: 25px;
    }

    #comments ol.comment-list li article footer.comment-meta .comment-author.vcard span::before {

        content: '\f0e6';
        font-family: 'fontAwesome';
        position: absolute;
        left: 0;
        top: 0;
        padding-right: 5px;
    }


    #comments ol.comment-list li article footer.comment-meta .comment-metadata {
        padding-left: 40px;
    }

    #comments ol.comment-list li article footer.comment-meta .comment-metadata a {

        text-transform: uppercase;
        font-size: 12px;
        padding-right: 10px;
        font-weight: 400;
        color: #a2a2a2;
    }

    #comments ol.comment-list li article footer.comment-meta .comment-metadata span.edit-link a {

        position: relative;
        padding-left: 15px;
    }

    #comments ol.comment-list li article footer.comment-meta .comment-metadata span.edit-link a:before {

        content: '\f121';
        font-family: 'fontAwesome';
        position: absolute;
        left: 0;
        top: 0;
        padding-right: 10px;
    }

    #comments ol.comment-list li article .comment-content {

        padding-bottom: 20px;
    }

    #comments ol.comment-list li article .comment-content p {

        line-height: 1.5;
    }

    #comments ol.comment-list li article .comment-content p a {

        color: $primary_color;
        font-weight: 500;
    }

    #comments ol.comment-list li article .reply a {

        position: relative;
        display: inline-block;
        padding-left: 25px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #a2a2a2;
        font-size: 12px;
        font-weight: 400;
    }

    #comments ol.comment-list li article .reply a:before {

        content: '\f112';
        font-family: 'fontAwesome';
        position: absolute;
        left: 0;
        top: 0;
        padding-right: 10px;
    }
    /*
-------------------------------------------------------------------------------
# Page pagination
-------------------------------------------------------------------------------
*/

    nav.pagination {


        .screen-reader-text {

            display: none;
        }

        span,
        a {

            display: inline-block;
            font-size: 12px;
            font-weight: 500;
            margin-right: 15px;
            background: $primary_color;
            color: $white;
            border-radius: 50%;
            text-align: center;
            outline: none;
            height: 35px;
            width: 35px;
            line-height: 35px;
            text-align: center;
        }

        span.page-numbers.current,
        a.page-numbers.current {

            background: $secondary_color;
        }

        span.dots,
        a.dots {

            -webkit-transform: none;
            -moz-transform: none;
            -ms-transform: none;
            -o-transform: none;
            transform: none;
        }
    }
    /*
--------------------------------------------------------------------------------
# Post naviagtion in single page
----------------------------------------------------------------------------------
*/

    nav.post-navigation {
        margin-bottom: 40px;
        margin-top: 50px;
        border: 1px solid $border_color;
        padding: 40px 30px;
        border-radius: 4px;
    }

    .nav-links {

        clear: both;
        overflow: auto;
        height: auto;
    }

    .nav-links .nav-previous {
        float: left;
        text-align: left;
    }

    .post-navigation .nav-links .nav-previous a::before {
        content: '\f177';
        font-family: 'FontAwesome';
        font-size: 16px;
        margin-right: 5px;
    }

    .nav-links .nav-next {
        float: right;
        text-align: right;
    }

    .comment-navigation .nav-previous,
    .posts-navigation .nav-previous,
    .post-navigation .nav-previous {
        float: left;
        width: 50%;
    }

    .comment-navigation .nav-next,
    .posts-navigation .nav-next,
    .post-navigation .nav-next {
        float: right;
        text-align: right;
        width: 50%;
    }


    .post-navigation .nav-links .nav-next a::after {
        content: '\f178';
        font-family: 'FontAwesome';
        font-size: 16px;
        margin-left: 5px;
    }

    .post-navigation .nav-links .nav-previous a:hover,
    .post-navigation .nav-links .nav-next a:hover {

        color: $primary_color;
    }
    /*
--------------------------------------------------------------------------------
# WordPress default widgets styles
----------------------------------------------------------------------------------
*/
    /* Lets now define some common widgets styles */

    aside.project_sidebar .widget_wrapper h3.widget-title,
    aside.project_sidebar .widget_wrapper .widget_title h3 {

        position: relative;
        text-transform: uppercase;
        font-size: 24px;
        padding-bottom: 20px;
        margin-bottom: 40px;
    }

    .widget ul li a:hover {

        color: $secondary_color;
    }


    .widget ul li:last-child a,
    .widget ul li:last-child li,
    .widget.widget_rss ul li:last-child {

        border-bottom: none !important;
    }


    .widget h3.widget-title::after {

        content: '';
        position: absolute;
        border-bottom: 4px solid $primary_color;
        bottom: 0;
        left: 0;
        width: 70px;
    }
    /* Lets now style some common widgets which are common in overall widgets */

    .widget.widget_meta ul,
    .widget.widget_recent_comments ul,
    .widget.widget_categories ul,
    .widget.widget_archive ul,
    .widget.widget_categories ul,
    .widget.widget_popular_entries ul,
    .widget.widget_recent_entries ul,
    .widget.widget_recent_entries ul {

        margin: -15px 0;
    }

    .widget.widget_popular_entries ul li a,
    .widget.widget_archive ul li a,
    .widget.widget_meta ul li a,
    .widget.widget_categories ul li a {

        display: inline-block;
        width: 90%;
        position: relative;
        padding: 15px 0 15px 40px;
        border-bottom: 1px solid rgb(224, 224, 224);
    }

    .widget.widget_recent_entries ul li a::before,
    .widget.widget_popular_entries ul li a::before,
    .widget.widget_categories ul li a::before,
    .widget.widget_archive ul li a::before,
    .widget.widget_meta ul li a::before {

        font-family: 'fontAwesome';
        font-size: 24px;
        color: #999;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        display: inline-block;
        vertical-align: middle;
    }

    .widget.widget_recent_entries ul li,
    .widget.widget_popular_entries ul li,
    .widget.widget_archive ul li,
    .widget.widget_meta ul li,
    .widget.widget_categories ul li {

        display: block;
    }


    .widget.widget_recent_comments ul li:before,
    .widget.widget_categories ul li:before {

        font-family: 'fontAwesome';
        color: #999;
        font-size: 24px;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        display: inline-block;
        vertical-align: middle;
    }

    .widget.widget_recent_comments ul li,
    .widget.widget_categories ul li {

        display: block;
        position: relative;
        padding: 15px 0 15px 35px;
        border-bottom: 1px solid rgb(224, 224, 224);
    }

    .widget.widget_recent_comments ul li:last-child,
    .widget.widget_categories ul li:last-child {

        border-bottom: none;
    }
    /* Now Reset category widget a padding */

    .widget.widget_categories ul li a {

        padding: 0 0;
        border-bottom: none;
    }
    /* widget that has dropdown */

    .widget.widget_archive select,
    .widget.widget_categories select,
    .widget.widget.widget_text select {

        width: 100%;
        height: 40px;
        padding-left: 10px;
        font-weight: 400;
        border-radius: 4px;
    }
    /* Tags widget */

    .widget.widget_tag_cloud {

        .tagcloud {

            a {

                display: inline-block;
                font-size: 14px !important;
                padding: 5px 10px;
                margin: 5px;
                border: 1px solid $border_color;
            }
        }
    }
    /*
--------------------------------------------------------------------------------
# Widgets :: Special ( Recent comment widgets )
----------------------------------------------------------------------------------
*/

    .widget.widget_recent_comments ul {

        margin: -15px 0;
    }

    .widget.widget_recent_comments ul li span {

        color: $secondary_color;
        text-transform: capitalize;
    }

    .widget.widget_recent_comments ul li a {

        display: inline-block;
    }

    .widget.widget_recent_comments ul li a:hover {

        color: $secondary_color;
    }
    /* widget :: Recent post */

    .widget.widget_recent_entries ul li {

        display: inline-block;
        width: 90%;
        position: relative;
        padding: 15px 0 15px 40px;
        border-bottom: 1px solid rgb(224, 224, 224);
    }

    .widget.widget_recent_entries ul li::before {

        font-family: 'fontAwesome';
        content: '\f1ea';
        font-size: 24px;
        color: #999;
        position: absolute;
        left: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        display: inline-block;
        vertical-align: middle;
    }

    .widget.widget_recent_entries ul li:last-child {

        border-bottom: none;
    }
    /* widget :: popular posts */

    .widget.widget_popular_entries ul li a::before {

        content: '\f0e7';
    }
    /* widget :: category */

    .widget.widget_categories ul li:before {

        content: '\f07c';
    }
    /* widget :: Archive */

    .widget.widget_archive ul li a:before {

        content: '\f0b1';
    }
    /* widget :: Recent Comments */

    .widget.widget_recent_comments ul li:before {

        content: '\f086';
    }
    /* widget :: WordPress Meta */

    .widget.widget_meta ul li a {

        padding-left: 20px;
    }

    .widget.widget_meta ul li a::before {

        content: '\f105';
    }
    /* Widget :: WP rss feeds */

    .widget.widget_rss ul {

        margin: -25px 0;
    }

    .widget.widget_rss ul li {

        display: block;
        padding: 30px 0;
        border-bottom: 1px solid $border_color;

        a {
            display: block;
            font-weight: 500;
            color: $secondary_color;
            padding-bottom: 10px;
            text-transform: uppercase;
        }

        span {

            font-size: 12px;
            color: #999999;
            text-transform: uppercase;
        }

        div.rssSummary {

            padding: 10px 0;
        }

        cite {

            font-weight: 500;
            text-transform: capitalize;
            font-style: normal;
        }
    }
    /* Widget :: Nav Menus */
    /*
--------------------------------------------------------------------------------
# Widgets : text widget 
----------------------------------------------------------------------------------
*/

    .widget.widget_text .textwidget {

        p {

            padding-bottom: 20px;
        }

        strong {

            font-weight: 500;
        }

        img {

            margin: 10px 0;
            display: block;
        }
    }
    /*
--------------------------------------------------------------------------------
# Widgets : Navs
----------------------------------------------------------------------------------
*/

    .widget.widget_nav_menu,
    .widget.widget_pages {

        ul {

            li {

                display: block;

                a {
                    position: relative;
                    display: inline-block;
                    width: 90%;
                    position: relative;
                    padding: 10px 0 10px 20px;
                }

                a::before {

                    font-family: 'fontAwesome';
                    content: '\f105';
                    font-size: 14px;
                    color: #999;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    display: inline-block;
                    vertical-align: middle;
                }

                ul,
                ol {

                    margin-left: 0;
                }
            }
        }
    }
    /*
--------------------------------------------------------------------------------
# Widgets : Search
----------------------------------------------------------------------------------
*/

    .widget form.search-form {

        position: relative;
        width: 100%;


        .input-group-addon {

            padding: 0;
            font-size: inherit;
            font-weight: normal;
            line-height: inherit;
            color: inherit;
            text-align: center;
            background-color: transparent;
            border: none;
            border-radius: 0;
        }
    }

    .widget form.search-form::before,
    .widget form.search-form::after {

        clear: both;
    }

    .widget form.search-form label {

        margin-bottom: 0;
    }

    .widget form.search-form label .screen-reader-text {

        display: none;
    }

    .widget form.search-form input[type="text"],
    .widget form.search-form button#searchsubmit {

        position: relative;
        height: 38px;
        outline: none;
        font-weight: 400;
        font-size: 14px;
        color: #333;
        padding-left: 15px;
        border: none;
        border-radius: 0;
        background: none;
    }

    .widget form.search-form input[type="text"] {

        width: 250px;
        float: left;
        border-top: 1px solid #e0e0e0;
        border-bottom: 1px solid #e0e0e0;
        border-left: 1px solid #e0e0e0;
        -webkit-border-top-left-radius: 3px;
        -webkit-border-bottom-left-radius: 3px;
        -moz-border-radius-topleft: 3px;
        -moz-border-radius-bottomleft: 3px;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    }

    .widget form.search-form button#searchsubmit {

        background: $secondary_color;
        color: $white;
        width: 60px;
        line-height: inherit;
        padding: 0 15px;
        height: 38px;
        float: right;
        border-radius: 0;
        -webkit-border-top-right-radius: 3px;
        -webkit-border-bottom-right-radius: 3px;
        -moz-border-radius-topright: 3px;
        -moz-border-radius-bottomright: 3px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }
    /*
--------------------------------------------------------------
# Widget: Calendar
--------------------------------------------------------------
*/

    .calendar_wrap caption {
        background: none repeat scroll 0 0 $primary_color;
        color: $white;
        line-height: 40px;
        text-align: center;
    }

    .calendar_wrap table {
        border-collapse: collapse;
        width: auto;
    }

    .calendar_wrap table th {
        border: 1px solid $border_color;
        font-weight: bold;
        padding: 8px 0px;
        text-align: center;
        width: 5%
    }

    .calendar_wrap table td {
        border: 1px solid $border_color;
        padding: 8px 0px;
        color: $primary_color;
        width: 5%;
        text-align: center;
    }

    .calendar_wrap table td#prev,
    .calendar_wrap table td#next {
        text-align: left;
        padding-left: 10px;
        padding-right: 10px;
    }

    .calendar_wrap table td#next {
        text-align: right;
    }
    /*
    --------------------------------------------------------------
    # Style for all widgets in footer
    --------------------------------------------------------------
    */

    footer .widget {

        background: transparent !important;
        box-shadow: none;
        border-radius: 0;
        padding: 0;
        margin-bottom: 40px;
        color: $footer_text_color !important;

        a {

            color: $footer_links_color;
        }

        a:hover {

            color: $secondary_color !important;
        }
    }

    footer .widget.widget_recent_entries ul li a,
    footer .widget.widget_popular_entries ul li a,
    footer .widget.widget_categories ul li a,
    footer .widget.widget_archive ul li a,
    footer .widget.widget_meta ul li a {

        color: $footer_text_color;
        border-bottom: none;
        padding: 5px 0 5px 40px !important;
    }

    footer .widget.widget_nav_menu ul li {

        padding-bottom: 0 !important;
    }

    footer .widget.widget_nav_menu ul li a:before {
        content: "\f105";
        font-family: 'fontAwesome';
        position: absolute;
        left: 0;
        top: 50% !important;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        display: inline-block;
        vertical-align: middle;
    }

    footer .widget.widget_recent_entries ul li,
    footer .widget.widget_popular_entries ul li,
    footer .widget.widget_categories ul li,
    footer .widget.widget_archive ul li,
    footer .widget.widget_meta ul li {

        padding: 0;
        border: none;
    }

    footer .widget.widget_pages ul li a {

        color: $footer_links_color;
    }

    footer .widget.widget_calendar .calendar_wrap table td {

        color: $footer_text_color;
    }

    footer .widget form.search-form input[type="text"] {

        width: 100%;
    }

    footer .widget.widget_recent_entries ul li a,
    footer .widget.widget_categories ul li a {

        padding: 0 !important;
    }

    footer .widget.widget_recent_entries ul li,
    footer .widget.widget_categories ul li {

        padding: 15px 0 15px 40px;
    }

    footer .widget.widget_recent_entries ul li::before {

        font-family: 'fontAwesome';
        content: '\f1ea';
        font-size: 24px;
        color: #999;
        position: absolute;
        left: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        display: inline-block;
        vertical-align: middle;
    }


/*
*******************************************************************
*
**  Contact form 7 
*
********************************************************************
*/


.wpcf7 label {

    display: block;
    margin-bottom: 15px;
}

.wpcf7 input[type="text"],
.wpcf7 input[type="tel"],
.wpcf7 input[type="email"],
.wpcf7 input[type="url"],
.wpcf7 textarea,
.wpcf7 select {

    width: 100%;
    padding: 7px;
    margin-top: 10px;
    border: 1px solid #eee;
}

.wpcf7 input[type="submit"],
.wpcf7 input[type="button"] {
    background-color: $primary_color;
    border: 1px solid $primary_color;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 30px;
    font-size: 14px;
    color: $white;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

.wpcf7 input[type="submit"]:hover,
.wpcf7 input[type="button"]:hover {
    background:$secondary_color ;
    border: 1px solid $secondary_color;
}