
// Define colors for social network websites

$facebook:#4267B2;

$twitter:#1DA1F2;

$instagram:#8A33A4;

$googleplus:#DC4C40;

$vk:#507299;

$pinterest:#BD081C;

$reddit:#CEE3F8;

$youtube:#FF0000;

$snapchat:#FFD600;

$linkedin:#0274B3;


// Define colors in this scss file

$black:#000;

$white:#fff;


