
// This is variable scss file. Define some variables that you could use in project later


// Import color file here

@import 'colors';



// Define variable for fonts that will be used in project



$primary_font: 'Montserrat', sans-serif;

$default_line_height_for_headings:1.6;
$default_line_height_for_body:1.6;
$default_font_weight:400;
$default_font_weight_for_heading:600;
$default_font_size_body:14px;


// Define variables for color that will be used in project


$primary_color:#111111;

$secondary_color:#F8C12C;

$primary_text_color:$primary_color;

$secondary_text_color:$secondary_color;

$footer_bg_color:#1A1A1A;

$footer_bottom_bg:#111111;

$footer_text_color:#cccccc;

$footer_links_color:#bfbfbf;

$border_color:#e2e2e2;

$nav_drop_down_color:#fff;

$section_bg:#f5f5f5;









// Define others resets value that might be different in different projects




